<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOSSystemThing2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>07C459D71CE1D37A00C31847</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07C459F01CE1D37B00C31847</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07C459FB1CE1D37B00C31847</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
